.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: var(--color-text);
    font-size: var(--font-size-xl);
  }

@media (max-width: var(--breakpoint-lg)) {
    .App {
    }
}
  
@media (max-width: var(--breakpoint-sm)) {
    .App {
    }
}
  
@media (max-width: var(--breakpoint-xs)) {
    .App {
    }
}